.model-selection-section {
    display: inline-flex;
    flex-direction: column;
    left: 0;
    top: 70px;
    gap: 0;
    margin: 1rem;
    position: fixed;
}

.model-selection-section button:first-child {
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
}
.model-selection-section button:last-child {
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
}

.model-selection-section button {
    height: 3rem;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid var(--button-primary-bg);
    background-color: var(--nav-background);
}
.model-selection-section button:hover {
    transform: scale(1.0);
    background-color: var(--nav-active-item-bg);
}

button.active-button {
    background-color: var(--button-primary-bg);
}

#animations-items {
    max-height: calc(100vh - 14rem);
}

#animation-listing-count {
    top: 1.4rem;
}